:root{
    --grey: #868686;
    --greyLight:  #cdcdcd;
    --buttonHoverBg: #f2f2f2db;
    --lightGrey:rgb(209, 209, 209);
    --lightGrey2:rgb(233, 233, 233);
    --spacing: 15px;
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0,0,0,0.34);
    --neon: #24fd70;
    --neon_2: #00a239;
    --red: rgb(226,34,94);
    --redBack: rgb(238, 112, 152);
    --blue: rgb(11, 76, 181);
    --whiteBorder: rgb(255, 255, 255);
    --redBackground: rgb(255, 143, 178);
    --pink: rgb(255, 208, 223);
    --green: #10c851;
    --greenBackground: rgb(148, 255, 196);
    --orange:  rgba(255, 94, 45, 0.995);
    --orange2:  rgba(239, 24, 0, 0.995);
    --orangeBackground:  #ffd8c3 ;
    --blueBackground:  rgb(218, 227, 255) ;
    --blueBackground2:  rgb(63, 111, 255) ;
    --blueBackground3:  rgb(128, 160, 255) ;

}

*{
    outline: none !important;
}



nav a{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    flex-direction: column;
    /* align-items: flex-end; */
    height: 100%;

    scale: 90%;
    transition: all .2s ease-in-out; 
    color: var(--greyButtonT);
    cursor: pointer;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

.col-2{
    padding-top: 100px;
    padding-right: 150px;
    padding-right: 110px;
}

.crossLogo{
    scale: 150%;
    margin-bottom: 80px;
    margin-left: 30px;
    display: flex;
    align-items: left;
    justify-content: left;
    
}

h1 {
    font-size: 19px;
    font-weight: 800;
    margin: 0;
    
}

.modal-header .closeBtn{
    margin-top: 8.5px;
    margin-right: 5px;
    padding: 3px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 120%;
    transition: all .2s ease-in-out; 
    color: var(--greyLight);
}
.modal-header .closeBtn:hover{
color: rgb(41, 101, 233);
transform: scale(130%); 
}


nav a{
    margin:10px;
    font-size:  16px;
    height: 45px;
    display: flex;
    align-items: left;
    justify-content: left;
}


.mainSectionContainer {
    padding:  0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    margin-left: 70px;
    flex-direction: column;
    justify-content: center;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

nav img{
    color: var(--greyLight);
    scale: 96%;
    transition: all .2s ease-in-out; }

nav img:hover{

    transform: scale(87%); 
    color: rgb(85, 85, 85);
    cursor: pointer;
}

.postFromContainer {
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid rgb(230, 236, 240);
    flex-shrink: 0;
}

.modal .postFormContainer {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 3px solid var(--lightGrey); 
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0; 
}

.modal-dialog{
    justify-content: center;
    right: 90px;
}

.modal-content{
    border-radius: 20px;
    width: 650px;
    justify-content: center;
}

.postFormContainerModal{
    border: none;
    padding: 0;
    padding-top: var(--spacing);

    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid var(--lightGrey); 
    flex-shrink: 0; 
}

.modal .post {
    padding-bottom:  var(--spacing);
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.textareaContainer{
    border-color: rgb(213, 213, 213);
    flex: 1;
    padding-left: var(--spacing);
}
.textareaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 16px;
}


#submitPostButton{
    background-color: var(--neon);
    color: black;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}

#submitPostButton:disabled{
    
    color: #868686;
    background-color: var(--lightGrey);
}

.btn-primary  {
    border-radius: 12px;
}
.btn-secondary{
    border-radius: 12px;
}

.btn-primaryDel {
    border-radius: 12px;
    transition: all .2s ease-in-out; 
    scale: 90%;
    background-color: rgb(255, 118, 118) ;
    color: whitesmoke;
}

.btn-primaryDel:hover {
    border-radius: 12px;
    transition: all .2s ease-in-out; 
    scale: 100%;
    background-color: rgb(255, 54, 54) ;
    color: whitesmoke;
}

.userImageContainer {
    width: 41px;
    height: auto;
    padding: 2px;
    margin-right: 20px;
 
}

.userImageContainer img{
    width: 100% ;    
}


.post{
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightGrey); 
    flex-shrink: 0; 
    /* flex-shrink for saffari bug or its gonna collapse */
}

button{
    background-color: transparent;
    border: none;
    color: var(--greyButtonT) ;
}

/* here we helping to recognize that like button been clicked so it automatically recognize click and update the number of likes */
button i,
button span {
    pointer-events: none;
}
.modal-body{
    margin-top: 0px;
    padding-top: 0px;
}
.modal #originalPostContainer{
    margin: 20px;
    margin-bottom: 20px;
    
}

.modal #originalPostContainer .post{
    margin: 20px;
    margin-bottom: 20px;
    
}


.mainContentContainer {
    padding-top: 10px;
    flex: 1;
    display: flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex:1; 
}

.username,
.data{
    color: var(--greyText);
}


.displayRating {
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 523px;
}

.fa-caret-up{
    margin-left: 5px;
    color: rgb(83, 255, 83);
    scale: 130%;
}

.displayName {
    font-weight: bold;
}

.displayName:hover {
    font-weight: bold;
    color: var(--blue);

}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    flex: 1;
    display: flex;
}

.postFooter .postButtonContainer button {
    padding: 3px 5px;
}




.header a,
.header spam {
    padding-right: 5px;
}


.postButtonContainer.orange button.active {
    color: var( --orange);
}

.postButtonContainer.orange button:hover{
    background-color: var( --orangeBackground);
    color: var( --orange);
    border-radius: 30%;
}


.postButtonContainer.red button.active {
    color: var( --red);
}

.postButtonContainer.red button:hover {
    color: var( --red);
    background-color: var( --pink);
    border-radius: 30%;

}

.postButtonContainer.green button.active {
    color: var( --green);
}

.postButtonContainer.green button:hover {
    color: var( --green);
    background-color: var( --greenBackground);
    border-radius: 30%;
}

.postActionContainer {
    padding-left: 75px;
    font-size: 13px;
    color: var(--greyText);
}


.replyFlag {
    margin-bottom: 5px;
}

.replyFlag a{
    color: var(--orange);

}
.replyFlag a:hover{
    color: var(--grey);

}

.post.largeFont .postBody,
.post.largeFont .postFooter {
    font-size: 22px;
}

.postContentContainer .header {
    display: flex;
}

.postContentContainer .header .date {
    flex: 1;
    padding-left: 13px;
}


.fas .fasDel{
    transition: all .2s ease-in-out; 
    color: var(--greyLight);
    scale: 80%;
} 

.fas .fasDel:hover{
    transition: all .2s ease-in-out; 
    color: var(--red);
    transform: scale(100%); 
} 






.errorMessage {
    padding: var(--spacing);
}

.coverPhotoSection {
    height: 180px;
    /* width: 600px; */
    left: 0px;
    /* top: 30px; */
    border-radius: 0px 0px 55px 55px;
    background-color: var(--blue);
    position: relative;
}



.profileHeaderContainer .userImageContainer {
    width: 102px;
    height: 102px;
    position: absolute;
    top: 65px;
    margin-left: var(--spacing);
    border: 4px solid var(--whiteBorder);
    border-radius: 35%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profileIMG {
    position: absolute;
    justify-self: center;
    justify-content: center;
    border-radius: 43%;
    justify-content: left;
    align-content: left;
    
}

.profileHeaderContainer .profileButtonsContainer {
    padding: 10px;

    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
}

.profileButton,
.followButton {
    /* background-color: var(--blue); */
    color: rgb(208, 208, 208);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
    /* background-color: var(--blueBackground2); */
    transition: all .2s ease-in-out; 
}

.yes{
    color: rgb(255, 205, 4);
}
.no{
    color: rgb(201, 201, 201);
}

.followButton.following {
    /* background-color: var(--blueBackground); */
    color: rgb(255, 205, 4);

}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}

.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
}

/*  :not - applies to all of the spans that do not have a class value*/
.followersContainer span:not(.value) {
    color: var(--greyText);
}

.followersContainer a {
    margin-right: 15px;
}

.followersContainer a:hover {
    border-bottom: 1px solid #000;
}

.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightGrey);
    font-weight: bold;
}

.tab.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.tab:hover {
    color: var(--blue);
}


/* we need it to reuse this raw style*/
.wrapper > .row {
    margin: 0;
;
}

.noResults {
    padding: var(--spacing);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border: 1.5px solid var(--whiteBorder);

}


.resultsContainerOpenedCases{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.resultsContainerOpenedCases .user{
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
}






.userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
    scale: 100%;

    transition: all .2s ease-in-out; 
    cursor: pointer;

}


.user {
    flex: 1;
    padding: 0 var(--spacing);
    scale: 100%;
    transition: all .2s ease-in-out; 
    cursor: pointer;
    border: 1px solid var(--whiteBorder);
    background-color: #f9f9f9;


}

.user:hover{
    background-color: #b9ffd1;
    transform: scale(99%); 
    cursor: pointer;

}



.profilePictureButton, .coverPhotoButton {
    position: absolute;
    color: rgba(0,0,0,0.6);
    display: none;

    top: 37px;
    left: 30px;
    position: absolute;
    justify-self: center;
    justify-content: center;
    scale: 262%; 

    justify-content: left;
    align-content: left;
    
}
.userImageSearch{
    border-radius: 50px;
    scale: 125%;
    left: 20px;
}

.userImageContainer:hover .profilePictureButton .userImageSearch, 
.coverPhotoSection:hover .coverPhotoButton .userImageSearch {
    display: block;
    color: #ffffff;
    border-radius: 50px;

}

.fa-duotone.fa-image{
    scale: 60%;
    margin-left: 180px;
    margin-top: 25px;
}
.fas.fa-camera{
    margin-left: 2px;
    scale: 80%;

}

.backtext{
    font-size: 4px;
    margin-left: 180px;
}

.coverPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.coverPhotoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 0px 0px 55px 55px;
}

#imagePreview,
#coverPreview{
    width: 100%;
    display: block;
 
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}


.pinButton{
    color: var(--greyLight);
}
.pinButton:hover{
    color: rgb(150, 150, 150);
}

.pinButton.active{
    color: orange;
}



.pinnedPostText {
    font-size: 12px;
    color: var(--greyText);
}

.pinnedPostContainer {
    border-bottom: 10px solid rgb(214, 220, 255);
}

.searchBarContainer {
    cursor: pointer;
    position: relative;
    color: var(--black);
    padding: 10px var(--spacing);
}

.searchBarContainer i {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 28px;
}


.searchBarContainer #searchBox {
    cursor: pointer;
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    background-color: var(--lightGrey2);
    border: none;
    color: var(--black);
}

.fas.fa-search{
    scale: 110%;
    transition: all .2s ease-in-out; 
    color: var(--grey);
    cursor: pointer;
}

.fas.fa-search:hover{
    color: var(--greyLight);
    transform: scale(80%); 
    cursor: pointer;
}



.home{
    margin-left: 12px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.search{
    margin-left: 12px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.notifications{
    margin-left: 12px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.messages{
    margin-left: 12px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.profile{
    margin-left: 12px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.logout{
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.nIcon {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 20px;
}



.nIconLogOut {
    display: flex;
    align-items: left;
    justify-content: left;
}

.nIconProfile {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 0px 30px 0px 20px;
}


.chatPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.chatTitleBar {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;
}

.chatTitleBar label {
    margin: 0 10px 0 0;
}

#userSearchTextbox {
    border: none;
    flex: 1;
    font-weight: 200;
    min-width: 350px;
}

#createChatButton {
    border: none;
    background-color: var(--neon);
    color:  var(--black);
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 40px;
}

#createChatButton:disabled {
    background-color: var(--lightGrey);
    color: var(--greyText);
}

.deletePickedUser {
    color: #ff3714;
    scale: 95%;
    border-radius: 10px;
    transition: all .2s ease-in-out; 
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
}

.deletePickedUser:hover {
    transform: scale(83%); 
}


.selectedUser {
    font-weight: 300;
    background-color: var(--orangeBackground);
    color: var(--orange);
    padding: 6px 15px 6px 15px;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    display: inline-block;
}


.resultListItem {
    width: 360px;
    padding: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: #f9f9f9;
    border: 1px solid var(--whiteBorder);
    flex: 1;
    padding: 0 var(--spacing);
    scale: 100%;
    transition: all .2s ease-in-out; 
    cursor: pointer;
}

.resultListItem:hover {
    background-color: #b9ffd1;
    transform: scale(99%); 
    cursor: pointer;
}

.resultsDetailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.resultsDetailsContainer .heading {
    font-weight: 500;
}

.resultsDetailsContainer .subText {
    color: var(--greyText);
    font-size: 14px;
}

.resultListItem img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.resultsImageContainer {
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.groupChatImage img {
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 2px solid #fff;
}

.groupChatImage img:first-of-type {
    top: 0;
    right: 0;
}

/* getting etc.. ' ....  ' adding to long mwssage boxes and content */
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.chatTitleBarContainer {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    padding: var(--spacing);
}

#chatName {
    width: 100%;
    border: 1px solid transparent;
    padding: 0 5px;
}

#chatName:hover {
    border: 1px solid var(--lightGrey);
    cursor: text;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.chatContainer .footer {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0px;
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: rgba(0,0,0,0.05);
    border-radius: 18px;
    border: none;
    padding: 20px 28px;
    height: 68px;
    transition: all .2s ease-in-out; 

}
.chatContainer .footer textarea:hover {
    flex: 1;
    resize: none;
    background-color: rgba(0,0,0,0.05);
    border-radius: 26px;
    border: none;
    padding: 20px 28px;
    height: 68px;
}


.chatContainer .footer button {
    background-color: transparent;
    color: var(--redBack);
    font-size: 24px;
    padding-left: 20px;
}

.chatContainer .footer button:hover {
    background-color: transparent;
    color: var(--red);
    font-size: 24px;

}

.chatMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing);
}

.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chatImagesContainer .userCount {
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #fff;
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
    margin-left: -10px;
}

#chatNameTextbox {
    width: 100%;
}


.sendMessageButton{
    scale: 100%;
    transition: all .2s ease-in-out; 
    cursor: pointer;
}
.sendMessageButton:hover{
    transform: scale(80%); 
    cursor: pointer;
}


.attachFile{
    scale: 100%;
    transition: all .2s ease-in-out; 
    cursor: pointer;
}
.attachFile:hover{
    transform: scale(80%); 
    cursor: pointer;
}



